@import '../../../scss/index.scss';


.wrapper{
  background-color: $mute-color;
  margin: 2em;
  /* Small only */
  // @media screen and (max-width: 39.9375em) {
  //   margin: 2em;
  // }
  @media screen and (min-width: 64em) {
    margin-left: none;
    margin-right: none;
  }
}

.wrapper-content{
  border-radius: 5px;
  background-color: $content-color;
  padding: 4em;
}
